.order {
    border: 1px solid #e5e5e5;
    background-color: white;
    border-radius: 5px;
    width: 900px;
    margin-left: 10%;
    font-size: 20px;
}
.data{
    color: #29c5e6;
}
.top-order{
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    border-radius: 5px 5px 0px 0px;
}
.container {
    margin: 0 !important;
}

.fa-file-download{
    color: #29c5e6;
}
