
header div{
    display: inline-block;
}

header {
    padding: 20px 0;
    width: 1260px;
}
.auth {
    margin-left: 750px;
    vertical-align: top;
}
.auth a {
    margin: 0 10px;
}
.fa-sign-in-alt
{
    font-size: 50px;
    color: #29c5e6;
}
.fa-sign-out-alt{
    font-size: 50px;
    color: #29c5e6;
    text-align: match-parent;
}
.fa-user-circle{
    font-size: 50px;
    color: #29c5e6;
}
.fa-shopping-bag{
    font-size: 50px;
    color: #29c5e6;
}


.top-menu li {
    display: inline-block;
    padding: 10px 70px;
    margin: 0;
}
.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}
.top-menu a {
    color: #b2b2b2;
}
#heading {
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-left: 50px;
}
h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    background: url(../images/bg.png);
    margin: 0;
    padding: 0 10px;
}

.content{
    margin-left: 60px;
    font: 20px 'Oswald', sans-serif;
}
.content div{
    display: inline-block;
    vertical-align: top;

}
.content div p{
    margin-top: 0px;
}
.des{
    margin-left: 60px;
    font: 20px 'Oswald', sans-serif;
    padding-bottom: 90px;
}
.des p:first-of-type{
    color: #29c5e6;
}
.box select{
    background-color: white;
    color: #919191;
    width: 50px;
    height: 30px;
    font-size: 20px;
    -webkit-appearance: button;
    outline: none;
    border: 1px solid #29c5e6;
    border-radius: 5px;
}

.req{
    width: 200px;
    height: 135px;
    border: 1px solid #c9c7c7;
    border-radius: 8px;
    margin-bottom: 15px;
}
.req p{
    margin-left: 10px;
}


.filter{
    vertical-align: top;
}
.info > p + p{
    margin-top: 25px;
}
.info{
    margin-left: 50px;
    width: 700px;
}

.info p:first-of-type{
  color: #29c5e6;
}
.mybutton{
    margin-top: 20px !important;
}
.fa-edit{
    color: #29c5e6;
}
.fa-trash-alt{
    color: #29c5e6;
}
