
.auth {
    margin-left: 750px;
    vertical-align: top;
}
.auth a {
    margin: 0 10px;
}
.fa-sign-in-alt
{
    font-size: 50px;
    color: #29c5e6;
}
.fa-sign-out-alt{
    font-size: 50px;
    color: #29c5e6;
    text-align: match-parent;
}
.fa-user-circle{
    font-size: 50px;
    color: #29c5e6;
}
.fa-shopping-bag{
    font-size: 50px;
    color: #29c5e6;
}

.top-menu li {
    display: inline-block;
    padding: 10px 70px;
    margin: 0;
}
.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}
.top-menu a {
    color: #b2b2b2;
}
#heading {
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-left: 50px;
}
h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    background: url(../images/bg.png);
    margin: 0;
    padding: 0 10px;
}
.book{
    width: 550px;

}

.book div+div{
    margin-left: 20px;
}
.rows{
    display: inline-block;
    vertical-align: top;
}
.req{
    height: 300px;
    margin-left: 20px;
    font: 16px 'Oswald', sans-serif;

}
.num{
    color: #29c5e6;
}
.req div{
    margin-bottom: 20px;
}

.content{
    margin-left: 50px;
}

.row div{
    display: inline-block;
    vertical-align: top;

}
.row > div+div {
    font: 16px 'Oswald', sans-serif;
    color: #29c5e6;
}
.rowlabel{
    margin-bottom: 20px;
    margin-left: 50px;
    border: 1px solid #919191;
    background-color: #e7e7e7;
    border-radius: 5px;
}
.rowlabel div{
    display: inline-block;
    color: #484747;
    margin:10px 0px;

    font: 16px 'Oswald', sans-serif;

}
.rowlabel > div+div{
    margin-left: 80px;
}
.rowlabel div:first-of-type{
    width: 500px;
}

.name{
    font-size: 22px;
    font-weight: 300;
    color: #29c5e6;
    display: block;
    text-decoration: none;
    text-align: left;
    width: 350px;
}
.book div p {
    font-size: 16px;
    color: #8f8f8f;
}
.q1 {
    margin-left: 32px;
    width: 60px;
}
.q2 {
    margin-left: 80px;
    width: 60px;
}
.q3 {
    margin-left: 60px;
    width: 60px;
}

