
.info{
    margin-left: 100px;
    padding-bottom: 90px;
}
.info div{
    display: inline-block;
}
.f1{
    vertical-align: top;
    max-width: 500px;
}
.f2{
    vertical-align: top;
    max-width: 500px;
    margin-left: 100px;
}
.h4{
    font: 18px 'Oswald', sans-serif;
    color: #FFA343;
}


