.box{
    padding-left: 15px;
}
.box select {
    background-color: white;
    color: #919191;
    padding: 12px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    -webkit-appearance: button;
    outline: none;
    border: 2px solid #FFA343;
    border-radius: 5px;
    margin-top: 15px;
}
.labelfilter{
    font-family: SansSerif;
    font-size: 26px;
    padding-left: 15px;

}



.box select option {
    padding: 30px;

}
.filterbox{
    width: 250px;
    height: 110px;
    border: 1px solid #c9c7c7;
    border-radius: 8px;
    margin-bottom: 15px;
}
#inputfilter{
    border: 1px solid #FFA343;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}

.buttonfilter{
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 5px;
    width: 95px;
    height: 35px;
}
.fa-file-download{
    color: #FFA343;
}

