.ulparent{
    font: 20px 'Oswald', sans-serif;
}
.ulparent > li+li {
    margin-top: 15px;
}
.information{
    padding-bottom: 40px;
}
.h4{
    font: 30px 'Oswald', sans-serif;
    color: #FFA343;
    margin-bottom: 20px ;
}
.h3{
    font: 20px 'Oswald', sans-serif;
    color: #FFA343;
}
.block{
    margin-left: 45px;
}

.main {
    font: 20px 'Oswald', sans-serif;
    margin-bottom: 20px;
}
.main span {
    margin-left: 50px;
}

